#container {
    width: 650px;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}
#main{
    border: 1px solid black;
}
img{
    width: 650px;
    height: 500px;
}

h1{
    margin: 0;
    color: white;
    background: rgb(154, 123, 232);
    text-align: center;
}
h2{
    text-align: center;
}